.premedic-card-border {
    background: rgb(39, 161, 160);

}

.premedic-nombre-container {
    background: rgb(39, 161, 160);
    background: linear-gradient(90deg, rgb(18, 109, 86) 2%, rgba(39, 161, 160, 1) 100%);
}

.premedic-button{
    background: linear-gradient(170deg, rgba(39, 161, 160, 1) 2%, rgba(2, 125, 87, 1) 51%, rgba(39, 161, 160, 1) 100%);
}

.premedic-button:hover{
    background: linear-gradient(170deg, rgb(31, 129, 129) 2%, rgb(1, 87, 60) 51%, rgb(27, 114, 114) 100%);
}

.avalian-card-border {
    background: #8bdc65;
    background: linear-gradient(170deg,#8bdc65 2%, #049b6c 51%, #8bdc65 100%);
}

#avalian-logo{
    height: 2.5rem;
    width: auto;
    padding-left: .4rem;
}

.avalian-nombre-container {
    background: #8bdc65;
    background: linear-gradient(170deg,#8bdc65 2%, #049b6c 51%, #8bdc65 100%);
}

.avalian-button{
    background: #8bdc65;
    background: linear-gradient(170deg,#8bdc65 2%, #049b6c 51%, #8bdc65 100%);
}

.avalian-button:hover{
    background: linear-gradient(170deg,#049b6c 2%,#049b50 51%, #049b6c 100%);
}

.unimed-card-border {
    background: rgb(153, 41, 175);
    background: linear-gradient(170deg, rgba(153, 41, 175, 1) 2%, rgb(161, 22, 154) 51%, rgba(153, 41, 175, 1) 100%);
}

#unimed-logo{
    height: 2.5rem;
    width: auto;
    padding-left: 1.4rem;
}

.unimed-nombre-container {
    background: rgb(153, 41, 175);
    background: linear-gradient(170deg, rgba(153, 41, 175, 1) 2%, rgb(161, 22, 154) 51%, rgba(153, 41, 175, 1) 100%);
}

.unimed-button{
    background: linear-gradient(170deg, rgba(153, 41, 175, 1) 2%, rgb(161, 22, 154) 51%, rgba(153, 41, 175, 1) 100%);
}

.unimed-button:hover{
    background: linear-gradient(170deg, rgb(117, 31, 134) 2%, rgb(117, 16, 112) 51%, rgb(107, 28, 122) 100%);
}

