.premedic-card-border, .premedic-nombre-container, .premedic-button {
    background: rgb(39, 161, 160);

}

#premedic-logo{
    height: 2.5rem;
    width: auto;
    padding-left:.4rem;
}

.avalian-card-border, .avalian-nombre-container, .avalian-button {
    background: #8bdc65;
    background: linear-gradient(170deg,#8bdc65 2%, #049b6c 51%, #8bdc65 100%);
}

#avalian-logo{
    height: 2.5rem;
    width: auto;
    padding-left: .4rem;
}

.unimed-card-border, .unimed-nombre-container, .unimed-button {
    background: rgb(153, 41, 175);
    background: linear-gradient(170deg, rgba(153, 41, 175, 1) 2%, rgb(161, 22, 154) 51%, rgba(153, 41, 175, 1) 100%);
}

#unimed-logo{
    height: 2.5rem;
    width: auto;
    padding-left: 1.4rem;
}

.ossacra-card-border, .ossacra-nombre-container, .ossacra-button {
    background: #71ac55;
}

#ossacra-logo{
    height: 1.5rem;
    width: auto;
    padding-left: .2rem;
}
