.cotizador-page {
    background-image: url('src/assets/img/bg/cotizador.webp');
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {
    .cotizador-page {
        background-image: url('src/assets/img/bg/cotizadorResponsive.webp');
    }
}
