
.gradient-h1 {
    background: linear-gradient(340deg, rgb(255, 255, 255) 60%, rgb(163, 54, 173) 100%);
    background-clip: text;
    color: transparent;
}

.gradient-h2 {
    background: linear-gradient(340deg, rgb(63, 54, 146) 50%, rgb(255, 255, 255) 110%);
    background-clip: text;
    color: transparent;
}

.section-hero {
    background-image: url('/src/assets/svgs/wave-1.svg');
    background-size: cover;
    background-position: center;
}

.section-prepagas {
    background-image: url('/src/assets/svgs/layered-wave-2.svg');
    background-size: cover;
    background-position: center;
}

.section-trabaja-con-nosotros {
    background-image: url('/src/assets/svgs/wave-3.svg');
    background-size: cover;
    background-position: center;
}
