.premedic-section{
    background-image: url('src/assets/img/bg/blob-premedic.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.avalian-section{
    background-image: url('src/assets/img/bg/blob-avalian.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.unimed-section{
    background-image: url('src/assets/img/bg/blob-unimed.webp');
    background-repeat: no-repeat;
    background-size: cover;
}