.premedic-section{
    background-image: url('https://i.postimg.cc/ZKx0nSVG/blob-premedic.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.avalian-section{
    background-image: url('https://i.postimg.cc/GmM2Pj0z/blob-avalian.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.unimed-section{
    background-image: url('https://i.postimg.cc/RZChnDYN/blob-unimed.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ossacra-section{
    background-image: url('https://i.postimg.cc/wvzjmy1s/blob-ossacra.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}